body {
  background-color: gainsboro;
  font-family: helvetica;
  margin: 0px; }

.navegador-Fixed ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343a40; }

.navegador-Fixed li {
  float: right; }

nav ul .Volver {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Staatliches', cursive; }

.home {
  background-image: linear-gradient(to bottom, #FF962E, gainsboro); }

.inicio {
  font-family: 'Staatliches', cursive;
  font-size: 200%;
  padding-top: 33vh;
  padding-left: 10%;
  padding-bottom: 33vh; }

.home .inicio h1 {
  font-size: 200%;
  color: #111; }

.contact h1 {
  font-size: 300%; }

.contact h2 {
  font-family: helvetica;
  max-width: 85vw;
  font-size: 150%; }

div .form {
  width: 90%; }

div form {
  background-color: #7848e8;
  font-size: 120%;
  width: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 10px; }

div form label {
  width: 100%; }

footer {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, gainsboro, #68A4C4);
  align-items: center;
  box-sizing: border-box;
  padding: 30px 30px;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Staatliches', cursive;
  list-style: none;
  margin: auto;
  justify-content: center; }

footer ul {
  padding-left: 20vw;
  padding-right: 20vw; }
