.contact{
  font-family: 'Staatliches', cursive;
  background-image: linear-gradient(to bottom, #48E8A0, gainsboro);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.contact h1{
  font-size: 400%;
}
.contact h2{
  font-family: helvetica;
  max-width: 30vw;
  font-size: 175%;
}
#contact{
  font-family: 'Staatliches', cursive;
  background-image: linear-gradient(to bottom, #48E8A0, gainsboro);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#contact h1{
  font-size: 400%;
}
#contact h2{
  font-family: helvetica;
  max-width: 35vw;
  font-size: 150%;
}
div form{
  background-color: #7848e8;
  font-size: 1.5rem;
  width: 30vw;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 10px 10px;
}
.form input{
  height: 25px;
  width: 98%;
}
input[type=submit], input[type=reset] {
  background-color: #FF962E;
  border: none;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  margin: 4px;
  margin-left: 4px;
  cursor: pointer;
}
.aform{
  background-color: white;
  margin: 40px auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  font-size: 1.5rem;
}
.aform .custom-control{
  background-color: gainsboro;
  line-height: 2;
}
#adjunto {
  border: 2px solid black;
  height: 200px;
  width: auto;
}
@media(min-width:320px) and (max-width:519px){
  .contact h1{
    font-size: 300%;
  }
  .contact h2{
    font-family: helvetica;
    max-width: 85vw;
    font-size: 150%;
  }
  div .form{
    width: 90%;
  }
  div form{
    background-color: #7848e8;
    font-size: 120%;
    width: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px 10px;
  }
  div form label{
    width: 100%;
  }
}
@media(min-width:520px){
  .contact{
    font-family: 'Staatliches', cursive;
    background-image: linear-gradient(to bottom, #48E8A0, gainsboro);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .contact h1{
    font-size: 400%;
  }
  .contact h2{
    font-family: helvetica;
    max-width: 35vw;
    font-size: 175%;
  }
}
