.contact h1{
    font-size: 300%;
  }
  
  .contact h2{
    font-family: helvetica;
    max-width: 85vw;
    font-size: 150%;
  }

  div .form{
    width: 90%;
  }
  div form{
    background-color: #7848e8;
    font-size: 120%;
    width: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px 10px;
  }
  
  div form label{
    width: 100%;
  }