@import "variables";

footer{
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, $colorprincipal, $colorc);
  justify-content: space-between;
  align-items: center;
  padding: 30px 10vw;
  padding-bottom: 30px;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Staatliches', cursive;
  list-style: none;
  color: $color-text;
  li {
    list-style: none;
    font-size: 1rem;
    line-height: 2;
    color: $color-text;
    a{
      color: $color-text;
    }
  }
  #social-contact p{
    font-family: $font-parraf;
    color: $color-text;
    line-height: 1;
    letter-spacing: 0;
  }
  img {
    width: 24px;
    height: 24px;
  }
}

@media(max-width:519px){
  footer {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, $colorprincipal, $colorc);
    align-items: center;
    box-sizing: border-box;
    padding: 30px 30px;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Staatliches', cursive;
    list-style: none;
    margin: auto;
    justify-content: center;
    ul{
      padding-left: 20vw;
      padding-right: 20vw;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}