footer{
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, gainsboro, #68A4C4);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 30px;
  padding-bottom: 30px;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Staatliches', cursive;
  list-style: none;
}
footer ul{
  padding-left: 20vw;
  padding-right: 20vw;
}
ul li{
  list-style: none;
}

@media(min-width:320px) and (max-width:519px){
  footer{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, gainsboro, #68A4C4);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Staatliches', cursive;
    list-style: none;
  }
}