.home{
    background-image: linear-gradient(to bottom, #FF962E, gainsboro);
  }
  
  .inicio{
    font-family: 'Staatliches', cursive;
    font-size: 200%;
    padding-top: 33vh;
    padding-left: 10%;
    padding-bottom: 33vh;
  }
  
  .home .inicio h1{
    font-size: 200%;
    color: #111;
  }