/*/ variables de colores /*/

$colorprincipal: #6CA7F6;

$colora: #73E5EB;
$colorb: #5DAFD4;
$colorc: #ECF0F1;
$colord: gainsboro;
$color-text: rgb(33, 37, 41);

/*/ variables de textos /*/

$titulos: 1.5rem;
$texto: 1.2rem;
$parrafos: 1rem;

/* fonts */

$font-title: 'Staatliches', cursive;
$font-parraf:'Open Sans', sans-serif;

/* variables en general*/

$border1: 15px;