body{
  background-color: gainsboro;
  font-family: helvetica;
  margin: 0px;
}

.Navegador-Fixed ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.Navegador-Fixed li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
}

.Navegador-Fixed li a:hover {
  background-color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul .Volver{
  float: left;
}

.Main{
  background-image: linear-gradient(to bottom, #FF962E, gainsboro);
}

.Inicio{
  font-family: 'Staatliches', cursive;
  font-size: 200%;
  padding-top: 100px;
  padding-left: 10%;
  padding-bottom: 160px;
}

.Container{
  background: url(img/1.jpg);
  padding: 20px;
  height: 100vh;
  }
  
  .Container .Menu{
    list-style: none;
    opacity: 0.7;
    display: flex;
    padding-top: 85vh;
    padding-left: 0px;
  }

  .Container .slider{
    position: relative;
    background-color: darkgrey;
    margin-bottom: 50px;
  }
  
  ul.slider li{
    text-align: left;   
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: darkgrey;
    opacity: 0;
    width: 97%;
    height: auto;
    transition: .5s;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul.slider li h2 {
    font-size: 300%;
    padding-left: 5%;
    text-align: left;
    font-style: italic;
    font-family: 'Staatliches', cursive;
  }

  ul.slider li h4{
    padding-left: 5%;
    font-size: 150%;
    max-width: 50%;
  }
  
.slider li:first-child {
  opacity: 1;
}
  
.slider li:target {
  opacity: 1;
}
  
.Menu{
  display: inline-block;
  text-align: center;
  margin: 20px;
  background: none;
  justify-content: center;
}

.Contenedor{ 
  width:100%;
  margin: auto;
}
img{
    width: 100%;
}
.render__columna{
  background-color: rgb(0, 255, 136);
    margin: 5px; 
}
.renders .contenedor{
  display: grid;
  margin: auto;
}

.wrapper {
  font-family: 'Staatliches', cursive;
  display: grid;
  background-color: gainsboro;
}

#Text {
  grid-column: auto;
  grid-row: auto;
  text-align: center;
}

.wrapper h2{
  font-size: 140%;
  justify-content: center;
}

.wrapper h3{
  font-weight: normal;
}

.Contact{
  font-family: 'Staatliches', cursive;
  background-image: linear-gradient(to bottom, #48E8A0, gainsboro);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Contact h1{
  font-size: 400%;
}

.Contact h3{
  font-family: helvetica;
  max-width: 35vw;
  font-size: 150%;
}

div form{
  background-color: #7848e8;
  font-size: 120%;
  width: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 10px;
}

div form label{
  width: 100%;
}

input[type=submit], input[type=reset] {
  background-color: #FF962E;
  border: none;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, gainsboro, #68A4C4);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 30px;
  padding-bottom: 30px;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Staatliches', cursive;
}
@media(min-width:320px){
  .Inicio {
    font-family: 'Staatliches', cursive;
    font-size: 100%;
    padding-top: 100px;
    padding-left: 5%;
    padding-bottom: 160px;
  }
  ul.slider li {
    text-align: left;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: darkgrey;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: .5s;
  }
  ul.slider li h2 {
    font-size: 175%;
    padding-left: 5%;
    text-align: left;
    font-style: italic;
    font-family: 'Staatliches', cursive;
  }
  ul.slider li h4 {
    padding: 5%;
    font-size: 120%;
  }
  .Contact h3{
    font-family: helvetica;
    max-width: 90vw;
    font-size: 150%;
  }
  .wrapper h3 {
    font-weight: lighter;
    font-size: medium;
  }
}
@media(min-width:520px){
  .renders .contenedor{     
    grid-template-columns: repeat(2,50%);
  }

  .wrapper {
    font-family: 'Staatliches', cursive;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    background-color: gainsboro;
    padding-bottom: 60px;
  }
}
@media(min-width:728px){
  .renders .contenedor{
    grid-template-columns: repeat(3,33.3%);
  }

  .wrapper {
    font-family: 'Staatliches', cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    grid-auto-rows: minmax(100px, auto);
    background-color: gainsboro;
    padding-bottom: 60px;
  }
}
@media(min-width:1024px){
  .renders .contenedor{
   grid-template-columns: repeat(4,25%);
  }
  .contenedor{
    width: 1024px;
  }

  .contenedor div img:hover{
    width: 200%;
    z-index: 1;
    position: relative;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 60px;
  }

}
@media(min-width:1200px){
  .contenedor{
   width: 1200px;
  }
}
@media(min-width:1920px){   /* Asi lo veo en la compu del laburo*/
  .Inicio{
    font-family: 'Staatliches', cursive;
    font-size: 250%;
    padding-top: 150px;
    padding-left: 10%;
    padding-bottom: 405px;
  }

  .renders .contenedor{
   grid-template-columns: repeat(4,25%);
  }
  .contenedor{
    width: 1650px;
  }
  
  .contenedor div img:hover{
    width: 200%;
    z-index: 1;
    position: relative;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 150px;
    padding-top: 130px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .wrapper h2{
    font-size: 200%;
  }

  .wrapper h3{
    font-size: 125%;
    font-weight: normal;
  }

  .Contact h1{
    font-size: 600%;
  }
  
  .Contact h3{
    font-family: helvetica;
    max-width: 35vw;
    font-size: 250%;
  }
  
  div form{
    background-color: #7848e8;
    font-size: 150%;
    width: 33vw;
    margin-top: 200px;
    margin-bottom: 240px;
    padding: 10px 10px;
  }
}